//Colors
$purple: #b7094c;
$white: #ffffff;
$black: #000000;
$blue: #0091ad;

//fuentes
$roboto: 'Roboto', sans-serif;
$cursive: 'Dancing Script', cursive;

//Tamaño de letras
$big: 4.5rem;
$medium: 2rem;
$normal: 1;

//padding
$padding: 5rem;